<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <title>كلاف</title>
  <!-- استدعاء ملف CSS -->
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <header class="simple-header">
    <div class="logo">
      <img src="https://i.postimg.cc/TPBqv3WB/zip-5.png" alt="لوجو كلاف">
    </div>
    <div class="search-container">
      <button class="search-btn" onclick="toggleSearch()"></button>
      <input type="text" class="search-input" placeholder="وش ودك تبحث؟">
    </div>
  </header>

  <script>
    function toggleSearch() {
      const input = document.querySelector('.search-input');
      input.classList.toggle('active');
      if(input.classList.contains('active')) input.focus();
    }
  </script>

</body>
</html>
